<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Usuarios</h3>
                <table class="table table-hover">
                    <tbody>
                        <tr [routerLink]="['/usuarios']" *ngFor="let usuario of usuarios" class="pointer">
                            <td>
                                <img [src]="usuario.imagen | imagen" class="imagenPeque img-circle" />
                            </td>
                            <td>
                                {{ usuario.nombre }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="usuarios.length === 0" class="alert alert-info">
                    Sin resultados con la busqueda!
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Hospitales</h3>
                <table class="table table-hover">
                    <tbody>
                        <tr [routerLink]="['/hospitales']" *ngFor="let hospital of hospitales" class="pointer">
                            <td>
                                <img [src]="hospital.imagen | imagen: 'hospital'" class="imagenPeque img-circle" />
                            </td>
                            <td>
                                {{ hospital.nombre }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="hospitales.length === 0" class="alert alert-info">
                    Sin resultados con la busqueda!
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Medicos</h3>
                <table class="table table-hover">
                    <tbody>
                        <tr [routerLink]="['/medico', medico._id]" *ngFor="let medico of medicos" class="pointer">
                            <td>
                                <img [src]="medico.imagen | imagen: 'medico'" class="imagenPeque img-circle" />
                            </td>
                            <td>
                                {{ medico.nombre }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="medicos.length === 0" class="alert alert-info">
                    Sin resultados con la busqueda!
                </div>
            </div>
        </div>
    </div>
</div>
